body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.linkedin-button,
.github-button {
  font-weight: 500;
  text-align: center;
 
  display: flex;
  align-items: center;
  margin-left: 43%;
  margin-right: 43%;
}

.container-links {
  margin-left: 43%;
  margin-right: 43%;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

.buttonspace {
  padding: 10px 10px 10px 10px;
}

